 
$white-color: white;
$lightGray-color: rgb(189, 189, 189);
$gray-color: rgb(153, 153, 153);
$darkGray-color: rgb(29, 29, 29);
$black-color: black;
$yellow-color: rgb(255, 255, 0);
$orange-color: rgb(248, 123, 85);
$tomato-color: tomato;
$red-color: rgb(201, 36, 36);
$coralBlue-color: rgb(26, 181, 192);
$lightBlue-color: rgb(64, 116, 230);
$blue-color: rgb(0, 81, 255);
$purple-color: rgb(79, 25, 228);
$green-color: rgb(32, 204, 32)
