
.glavna {
 @include pageWidth-80;

    .glavna-prva {
    
        width: 100%;
        height: 700px;
        position: relative;
        z-index: 0;

            .slider {
                display: flex;
                width: 100%;
                height: 600px;
               
                input {
                    display: none;
                }

                button {
                    position: absolute;                 
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 200px;
                    height: 50px;   
                    margin-bottom: 30px;    
                    cursor: pointer;
                    @include buttonColor;
                    border-radius: 5px;
                    border: none;
                    opacity: 1;
            
                        a {
                            text-decoration: none;
                            color: $black-color;
                            font-size: 16px;
                            font-weight: map-get($font-weights, thin);                         
                        }
            
                        &:hover {
                            transition: 0.5s;
                            margin-bottom: 20px;
                            opacity: 0.8;
                        } 
                }

                .slide {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    
                    img {
                        width: 100%;
                        height: 100%;
                    }

                    .previous {
                        position: absolute;
                        top: 0; 
                        left: 0;   
                                       
                        span {
                            position: absolute;
                            width: 50px;
                            height: 50px;
                            margin-top: 325px;                         
                            cursor: pointer;
                            color: $white-color;
                            @include flexCenter;
                            font-size: 50px;

                            &:hover {
                                color: $lightGray-color;
                                transition: 0.3s;
                            }
                        }
                    }
                    
                    .next {
                        position: absolute;
                        top: 0;    
                        right: 50px;

                        span {
                            position: absolute;
                            width: 50px;
                            height: 50px;                        
                            margin-top: 325px;
                            color: $white-color;                  
                            cursor: pointer;
                            @include flexCenter;
                            font-size: 50px;

                            &:hover {
                                color: $lightGray-color;
                                transition: 0.4s;
                            }
                       }
                    }                   
                }                
            }

                        #image1:checked ~ #one,
                        #image2:checked ~ #two,
                        #image3:checked ~ #three,
                        #image4:checked ~ #four,
                        #image5:checked ~ #five,
                        #image6:checked ~ #six {
                            z-index: 1;
                            transition: 1s ease-in;
                        }
    }

    .glavna-druga {
        width: 100%;
        height: 700px;
        @include flexCenter;
    }

    .glavna-treca {
        width: 100%;
        height: 700px;
        position: relative;

            img {
                width: 100%;
                height: 100%;
            }

            button {
                position: absolute;                 
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 200px;
                height: 50px;   
                margin-bottom: 30px;    
                cursor: pointer;
                @include buttonColor;
                border-radius: 5px;
                border: none;
                opacity: 1;
        
                    a {
                        text-decoration: none;
                        color: $black-color;
                        font-size: 16px;
                        font-weight: map-get($font-weights, thin);                         
                    }
        
                    &:hover {
                        transition: 0.5s;
                        margin-bottom: 20px;
                        opacity: 0.8;
                    }
            }
    }
}