@import 'media queries';
@import 'colors';
@import 'config';
@import 'navigation';
@import 'main page';
@import 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
}



